@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

/* SECTION Initial reset */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /*outline: 1px dashed blue; /* Debugging purposes */
}

/* SECTION Background */

body {
    font-family: 'Comfortaa', cursive;
    background: #f3904f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to bottom,
        #3b4371,
        #f3904f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom,
        #3b4371,
        #f3904f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* SECTION ToDo container */

#todo--header {
    margin: auto;
    margin-top: 20vh;
    width: 350px;
    height: 100px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 30px 12px rgba(0, 0, 0, 0.15);
}

#todo--tasks-list {
    margin: auto;
    width: 350px;
    height: 400px;
    background-color: white;
    box-shadow: 0px 30px 12px rgba(0, 0, 0, 0.15);
    overflow: auto;
}

/* ToDo shapes and shadows */

div [id^='sheet-'] {
    margin: auto;
    border-radius: 0 0 10px 10px;
    -webkit-filter: drop-shadow(0px 30px 12px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0px 30px 12px rgba(0, 0, 0, 0.15));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=30, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=30, Color='#444')";
    /* trapezoidal shape */
    border-bottom: 95px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
#sheet-1-3d {
    width: 360px;
    height: 95px;
    margin: auto;
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: 1;
}
#sheet-2-3d {
    width: 344px;
    height: 95px;
    margin: auto;
    margin-top: -85px;
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: -1;
}
#sheet-3-3d {
    width: 328px;
    height: 95px;
    margin: auto;
    margin-top: -85px;
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: -2;
}
#sheet-4-3d {
    width: 312px;
    height: 95px;
    margin: auto;
    margin-top: -85px;
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: -3;
}

/* SECTION ToDo header */

#todo--header header {
    padding-top: 1.75rem;
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    color: #f3904f;
}

#todo--header p {
    font-size: 0.875rem;
    text-align: center;
    color: #f3904f;
}

/* SECTION ToDo list of tasks */

.todo--tasks-list--item {
    font-size: 1rem;
    color: #6d6d6d;
    height: 46px;
    border-bottom: 1px dashed #c9c9c9;
    margin: auto 0;
    list-style: none;
    padding-top: 15px;
}

.todo--tasks-list--item--checkbox {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: #f5f5f5;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    margin: auto 15px auto 15px;
    cursor: pointer;
}

.todo--tasks-list--item--checkbox--checked {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto 15px auto 15px;
    cursor: pointer;
    background: url('../images/check.png') no-repeat center;
    background-size: 22px 22px;
    filter: invert(83%) sepia(32%) saturate(6122%) hue-rotate(326deg)
        brightness(103%) contrast(91%);
}

.todo--tasks-list--item--description--checked {
    font-size: 1rem;
    color: #6d6d6d;
    opacity: 25%;
    text-decoration: line-through;
    height: 46px;
    margin: auto 0;
    list-style: none;
    padding-top: 15px;
}

li:hover > .delete-task {
    display: block;
    width: 22px;
}

.delete-task {
    float: right;
    width: 0;
    height: 45px;
    background-color: #e14949;
    margin-top: -15px;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    transition: all 0.2s;
}

li:hover > .delete-task:hover {
    width: 80px;
}

.delete-task:hover > .delete-text {
    width: auto;
}

.delete-task img {
    margin: 14.5px auto auto 3px;
    filter: invert(8%) sepia(91%) saturate(4481%) hue-rotate(356deg)
        brightness(93%) contrast(84%);
    float: left;
}

.delete-task .delete-text {
    color: #841a1a;
    margin: 14.5px auto auto 25px;
    width: 0;
    transition: all 0.5s;
    display: block;
    font-size: 1rem;
}

/* SECTION Add task */

#todo--footer #add-task {
    cursor: pointer;
    width: 44px;
    margin: auto;
    padding-top: 10px;
    filter: invert(83%) sepia(32%) saturate(6122%) hue-rotate(326deg)
        brightness(103%) contrast(91%);
    position: relative;
    z-index: 10;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 10;
    padding-top: 5rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 420px;
    border-radius: 10px;
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.3);
}

#input-task {
    border-radius: 10px;
    border: 1px solid #c9c9c9;
    padding-left: 1rem;
    height: 2rem;
    display: block;
    width: 93%;
}

#input-task:active,
#input-task:focus {
    outline: none;
    border-radius: 10px;
    border: 1px solid #c9c9c9;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Add task button */
#btn-add-task {
    background-color: #f3904f;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid #ffb482;
    font-size: 1rem;
    color: #a44d13;
    transition: all 0.5s;
    width: 100px;
}

#btn-add-task:hover {
    background-color: #ffb482;
    color: #a44d13;
    cursor: pointer;
}
