/* Initial reset */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /*outline: 1px dashed blue; /* Debugging purposes */
}
