@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

/* SECTION Initial reset */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /*outline: 1px dashed blue; /* Debugging purposes */
}

/* SECTION Background */

body {
    font-family: 'Comfortaa', cursive;
    background: #f3904f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to bottom,
        #3b4371,
        #f3904f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom,
        #3b4371,
        #f3904f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* SECTION ToDo container */

.todo {
    margin: auto;
    margin-top: 20vh;
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 30px 12px rgba(0, 0, 0, 0.15);
}

/* ToDo shapes and shadows */

div [id^='sheet-'] {
    margin: auto;
    border-radius: 0 0 10px 10px;
    -webkit-filter: drop-shadow(0px 30px 12px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0px 30px 12px rgba(0, 0, 0, 0.15));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=30, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=30, Color='#444')";
    /* trapezoidal shape */
    border-bottom: 95px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
#sheet-1-3d {
    width: 360px;
    height: 95px;
    margin: auto;
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: 1;
}
#sheet-2-3d {
    width: 344px;
    height: 95px;
    margin: auto;
    margin-top: -85px;
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: -1;
}
#sheet-3-3d {
    width: 328px;
    height: 95px;
    margin: auto;
    margin-top: -85px;
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: -2;
}
#sheet-4-3d {
    width: 312px;
    height: 95px;
    margin: auto;
    margin-top: -80px;
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: -3;
}

/* SECTION ToDo header */

#todo--header header {
    padding-top: 1.75rem;
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    color: #f3904f;
}

#todo--header p {
    font-size: 0.875rem;
    text-align: center;
    color: #f3904f;
}

/* SECTION ToDo list of tasks */

#todo--tasks-list {
    margin-top: 1.875rem;
}
